body {
    font-family: sans-serif;
    background-image: url(https://learn.logikaschool.com/uploads/student/2330222/65f330bfadf4b.jpg);
    background-size: cover;
}

header{
    border-bottom: 2px solid black;
    height: 150px;
}


h1 {
    text-align: center;
    font-weight: normal;


}

h2 {
    text-align: center;
    font-weight: normal;
}



.right{
    position: relative;
    left: 50%;
     padding: 15px;
    background-color: rgb(166, 163, 163);
    border-radius: 45%;
    width: 100px;
}

footer{
    width: 100%;
    margin-top: 35px;
}


.home {
    padding: 15px;
    background-color: rgb(166, 163, 163);
    border-radius: 45%;
    width: 100px;
}



.https{
     display: flex;
     font-size: 14px;
}

a{
    color: black;
    text-decoration: none;
}


.how{
     position: relative;
    left: 35%;
     padding: 15px;
    background-color: rgb(166, 163, 163);
    border-radius: 45%;
    width: 100px;
}





